APP_NAME="Biblioteca"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=ec2-3-131-141-8.us-east-2.compute.amazonaws.com
DB_PORT=3306
DB_NAME=ads_3b_grupo11
DB_USER=usr_3b_g11
DB_PASSWORD=g11B@123

CACHE_STORE=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=log
MAIL_HOST=localhost
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="noreply@biblioteca.com"
MAIL_FROM_NAME="${APP_NAME}"

FINE_AMOUNT=100.00
RENEWAL_DAYS=14
RESERVATION_EXPIRY_DAYS=3
